
.dialog-box {
  z-index: 10;
  overflow: auto;
  margin-top: 50px;
  border: 1px solid #888;
  background-color: #fefefe;
  min-width: 400px;
  max-width: 90vw;
}

dialog::backdrop {
  background-color: hsl(250, 100%, 50%, 0.25);
}
.dialog-header {
  width: 100%;
  display:inline-flex;
  border-bottom: 1px solid #888;
}
.spacer {
  flex-grow: 1;

}
.close-button {
  background-color: #fefefe;
    border: none;
  text-align: center;
  text-decoration: none;
  float: right;
  font-weight: bold;
}
.close-button:hover{
  cursor:pointer;
}
